@use 'sass:math';
@import url("https://use.typekit.net/emg2cmw.css");

// Fonts Imports
@font-face {
    font-family: hydrophiliaLiquid_regular;
    src: url(../fonts/HydrophiliaLiquid-Regular.otf);
}
// Fonts Vars

$font_black: roc-grotesk-compressed, sans-serif;
$font_regular: hydrophiliaLiquid_regular;

// Colors
$principal_color: #ffff;
$principal_color_transparent: #ffffff26;
$principal_color_transparent_two: #ffffff5b;
$segundo_color: #D017FC;
$tercer_color: #FFF200;
$cuarto_color: #EDA2FF;
$quinto_color: #8E00B0;
$sexto_color: #ff0000;
$septimo_color: #201978;


// Medias Query
@mixin bp($point) {

    @if $point == escritorio {
        @media (min-width: 1600px) { @content; }
    }

    @else if $point == laptopBIG {
        @media (min-width: 1220px) { @content; }
    }

    @else if $point == laptop {
        @media (min-width: 1100px) { @content; }
    }

    @else if $point == tabletMD {
        @media (min-width: 901px)  { @content; }
    }

    @else if $point == tablet {
        @media (min-width: 700px)  { @content; }
    }

    @else if($point == mobileBIG){
        @media (min-width: 550px)  { @content; }
    }

    @else if($point == mobileMID){
        @media (min-width: 450px)  { @content; }
    }
}

// Animation
@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}
@mixin animate($name, $duration, $type, $loop){
    animation: $name $duration $type $loop;
}

// Convert px to rem
@function rem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem; 
}