@import './var';
@import './components/swirl';
@import './components/header';


*,
html,
body{
    padding: 0px;
    margin: 0px;
}

body{
    height: 300dvh;
}

body{
    overflow-x: hidden;
}

.responsive-box {

    max-width: calc(100% - 30px);
    margin: auto;

    @include bp(tablet){
        max-width: 675px;
    }

    @include bp(tabletMD){
        max-width: 850px;
    }

    @include bp(laptop){
        max-width: 1000px;
    }

    @include bp(laptopBIG){
        max-width: 1300px;
    }

    @include bp(escritorio){
        max-width: 1500px;
    }
}