@import './var';
@import './components/swirl';
@import './components/header';
@import './components/form';
@import './components/game';
@import './components/footer';


*,
html,
body{
    padding: 0px;
    margin: 0px;
}

body{
    overflow: hidden;
    height: 100dvh;
}

.application{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    width: 100%;
    min-height: 100dvh;
    transition: .3s ease;
    opacity: 1;
    scale: 1;
    overflow-y: auto;
    overflow-x: hidden;

    @include bp(tabletMD){
        //overflow-y: hidden;
    }

}

.application.absolute.footer{
    overflow-y: auto;
}

.application.absolute{
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 1;
    scale: 1;
    height: 100dvh;

    @include bp(tabletMD){
        overflow-y: hidden;
    }

    @include keyframes(showElement){

        0%{
            opacity: 0;
        }
        
        100%{
            opacity: 1;
        }

    }

    @include animate(showElement, .5s, linear, 1)

}

.application.remove{
    scale: 1.1;
    opacity: 0;
}

.application.remove.delete{
    display: none;
}

.application.game{
    @include bp(tablet){
        overflow: hidden;
    }
}

.responsive-box {

    max-width: calc(100% - 30px);
    margin: auto;

    @include bp(tablet){
        max-width: 675px;
    }

    @include bp(tabletMD){
        max-width: 850px;
    }

    @include bp(laptop){
        max-width: 1000px;
    }

    @include bp(laptopBIG){
        max-width: 1200px;
    }

    @include bp(escritorio){
        max-width: 1400px;
    }
}


button {
    
    width: 100%;
    max-width: 200px;
    padding: rem(5px) 0px rem(7px) 0px;
    font-family: $font_regular;
    text-transform: uppercase;
    font-size: rem(20px);
    font-weight: bold;
    color: $principal_color;
    background-color: $segundo_color ;
    border: 1.5px solid $principal_color;
    text-shadow: rem(2px) 0 $quinto_color, rem(-2px) 0 $quinto_color, 0 rem(2px) $quinto_color, 0 rem(-2px) $quinto_color, rem(1px) rem(1px) $quinto_color, rem(-1px) rem(-1px) $quinto_color, rem(1px) rem(-1px) $quinto_color, rem(-1px) rem(-1px) $quinto_color;
    position: relative;
    cursor: pointer;
    transition: .5s ease;

    @include bp(tablet){
        font-size: rem(23px);
    }

    @include bp(tabletMD){
        font-size: rem(25px);
        max-width: 250px;
    }

    @include bp(laptop){
        max-width: 300px;
        padding: rem(10px) 0px rem(13px) 0px;
    }

    @include bp(laptopBIG){
        max-width: 250px;
    }

    &::before,
    &::after{
        content: "";
        position: absolute;
        top: 0px;
        width: rem(2px);
        height: 100%;
        background-color: $cuarto_color;

        @include bp(tablet){
            width: rem(4px);
        }

        @include bp(laptop){
            width: rem(5px);
        }

    }

    &::before{
        left: 0px;
    }

    &::after{
        right: 0px;
    }

    .title {

        z-index: 999;
        position: relative;
        cursor: none;
        pointer-events: none;

    }

    .top_bottom {

        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 0;

        &:hover {

            &::after{
                height: 100%;

                @include bp(tablet){
                    height: 100%;
                }

                @include bp(laptop){
                    height: 100%;
                }
            }

        }

        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0px;
            width: 100%;
            background-color: $cuarto_color;
        }

        &::before{
            height: rem(2px);
            top: 0px; 

            @include bp(tablet){
                height: rem(4px);
            }

            @include bp(laptop){
                height: rem(5px);
            }
        }

        &::after{
            height: rem(5px);
            bottom: 0px;
            transition: .2s ease;

            @include bp(tablet){
                height: rem(7px);
            }

            @include bp(laptop){
                height: rem(12px);
            }

        }

    }

}


.logo {

    min-height: rem(100px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 999;

    @include bp(mobileBIG){
        height: rem(70px);
    }

    @include bp(laptop){
        height: rem(150px);
    }

    img {

        width: auto;
        height: rem(25px);

        @include bp(mobileBIG){
            height: rem(30px);
        }

        @include bp(tablet){
            height: 35px;
        }

        @include bp(tabletMD){
            height: 40px;
        }

        @include bp(laptop){
            height: 45px;
        }

    }

}

canvas {

    position: fixed;
    width: 100dvw;
    height: 100dvh;
    z-index: 1;
    pointer-events: none;
    user-select: none;

}
