.game {

    width: 100%;
    min-height: 100dvh;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

    @include bp(tabletMD){
        min-height: 100dvh;
    }

    @include bp(tablet){
        overflow: hidden;
    }

    .item_alineacion {
        display: none;

        @include bp(tablet){
            display: block;
        }

    }

    .content_items {

        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;

        @include bp(tablet){
            position: initial;
            align-items: center;
        }

        .game_img {

            width: 125%;
            position: absolute;
            height: 125%;
            z-index: -1;

            @include bp(mobileMID){
                width: 95%;
                height: 125%;
            }

            @include bp(mobileBIG){
                width: 80%;
                height: 125%;
            }

            @include bp(tablet){
                //top: 0px;
                left: 0px;
                width: 100%;
                height: auto;
            }

        }

        .content {

            display: flex;            
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            @include bp(tablet){
                height: calc(100% - rem(70px));
                justify-content: center;
            }

            .title {

                transform: translateY(rem(25px));
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;

                @include bp(mobileMID){
                    width: 70%;
                }

                @include bp(mobileBIG){
                    width: 55%;
                }

                @include bp(tablet){
                    height: auto;
                    transform: translateY(0px);
                }

                h2 {
                    font-size: rem(20px);
                    text-wrap: balance;
                    line-height: rem(20px);
                    text-align: center;
                    color: $principal_color;
                    font-family: $font_regular;
                    text-transform: uppercase;

                    @include bp(mobileMID){
                        font-size: rem(18px);
                        line-height: rem(18px);
                    }
        
                    @include bp(tabletMD){
                        font-size: rem(25px);
                        line-height: rem(25px);
                    }
        
                    @include bp(laptop){
                        font-size: rem(27px);
                        line-height: rem(27px);
                    }
        
                    @include bp(laptopBIG){
                        font-size: rem(28px);
                        line-height: rem(28px);
                    }
        
                }        

            }

            .text {


                width: calc(80% - rem(30px));
                height: calc(47.5% - rem(30px));
                transform: translateY(rem(-34px));
                display: flex;
                justify-content: center;
                align-items: center;
                padding: rem(15px);

                @include bp(mobileMID){
                    width: calc(60% - rem(30px));
                }

                @include bp(mobileBIG){
                    width: calc(50% - rem(30px));
                }

                @include bp(tablet){
                    height: auto;
                    transform: translateY(0px);
                }

                form {

                    .options {

                        display: flex;
                        flex-flow: column;
                        row-gap: rem(10px);
                        text-transform: uppercase;

                        label{

                            display: flex;
                            column-gap: rem(15px);
                            align-items: center;

                            svg {
                                width: rem(15px);
                                height: auto;
                            }

                            input{
                                display: none;
                            }

                            input:checked ~ p{
                                color: $principal_color;
                            }

                            span svg path{
                                transition: .3s ease;
                                fill: $septimo_color;
                            }

                            input:checked ~ span svg path{
                                fill: $principal_color;
                            }
    
                            p{
    
                                font-size: rem(14px);
                                line-height: rem(14px);
                                font-family: $font_regular;
                                text-transform: uppercase;
                                color: $septimo_color;
                                user-select: none;
                                transition: .3s ease;
    
                                @include bp(tabletMD){
                                    font-size: rem(20px);
                                    line-height: rem(20px);
                                }
    
                                @include bp(laptop){
                                    font-size: rem(22px);
                                    line-height: rem(22px);
                                }
    
                                @include bp(laptopBIG){
                                    font-size: rem(23px);
                                    line-height: rem(23px);
                                }
    
                            }
                        }

                    }

                }

            }

        }

    }

}