.game {

    width: 100%;
    min-height: 100dvh;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

    @include bp(tabletMD){
        min-height: 100dvh;
    }

    @include bp(tablet){
        overflow: hidden;
    }

    .item_alineacion {
        display: none;

        @include bp(tablet){
            display: block;
        }

    }

    /* HTML: <div class="loader"></div> */
    /* HTML: <div class="loader"></div> */
    .loader {
        width: 50px;
        aspect-ratio: 1;
        display: grid;
        border-radius: 50%;
        background:
            linear-gradient(0deg ,rgba(208, 23, 252, 0.5) 30%,rgba(208, 23, 252, 0) 0 70%,rgb(208, 23, 252) 0) 50%/8% 100%,
            linear-gradient(90deg,rgba(208, 23, 252, 0.25) 30%,rgba(208, 23, 252, 0) 0 70%,rgba(208, 23, 252, 0.75) 0) 50%/100% 8%;
        background-repeat: no-repeat;
        animation: l23 1s infinite steps(12);

        @include bp(laptop){
            width: 70px;
        }
    }
    .loader::before,
    .loader::after {
    content: "";
        grid-area: 1/1;
        border-radius: 50%;
        background: inherit;
        opacity: 0.915;
        transform: rotate(30deg);
    }
    .loader::after {
        opacity: 0.83;
        transform: rotate(60deg);
    }
    @keyframes l23 {
        100% {transform: rotate(1turn)}
    }



    .content_items {

        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;

        @include bp(tablet){
            position: initial;
            align-items: center;
        }

        .container_remolino {
            width: 130dvw;
            height: 130dvw;
            position: absolute;
            overflow: hidden;

            @include bp(mobileBIG){
                width: 130dvw;
                height: 130dvw;
            }

            @include bp(tablet){
                width: 100dvw;
                height: 100dvw;
                top: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            @include bp(laptop){
                display: flex;
                width: 120dvw;
                height: 100dvh;
            }

            @include bp(escritorio){
                width: 90dvw;
                height: 100dvh;
            }
        }

        .remolino {
                    
            width: 130dvw;
            height: 130dvw;
            position: absolute;
            mix-blend-mode: screen;  //color-dodge
            object-fit: contain;
            transition: .3s ease scale;
            pointer-events: none;
            user-select: none;
            z-index: -1;
            
            @include bp(laptop){
                translate: 0px rem(-15px);
                display: block;
                width: 120dvw;
                height: 120dvw;
            }

            @include bp(laptopBIG){
                width: 120dvw;
                height: 120dvw;
                translate: 0px rem(-20px);
                
            }

            @include bp(escritorio){
                width: 90dvw;
                height: 80dvw;
                translate: 0px rem(-30px);
            }


            @include animate(remolino, 2s, linear, infinite)
        }

        .game_img {

            width: 125%;
            position: absolute;
            height: 125%;
            z-index: -1;

            @include bp(mobileMID){
                width: 95%;
                height: 125%;
            }

            @include bp(mobileBIG){
                width: 80%;
                height: 125%;
            }

            @include bp(tablet){
                left: 0px;
                width: 100%;
                height: auto;
            }

            @include bp(tabletMD){
                left: initial;
                width: 90%;
            }

            @include bp(laptop){
                width: 85%;
            }

            @include bp(laptopBIG){
                width: 80%;
                max-width: 900px;
                object-fit: cover;
                transform: translateY(2.5%);
            }

            @include bp(escritorio){
                width: 80%;
                max-width: 1000px;
                object-fit: cover;
                transform: translateY(2.5%);
            }

        }

        .content {

            display: flex;            
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            position: relative;
            width: 100%;
            max-width: calc(95% - 30px);

            @include bp(tablet){
                height: calc(70% - rem(70px));
                justify-content: center;
                transform: translateY(-17%);
                max-width: calc(700px - 30px);
            }

            @include bp(tabletMD){
                max-width: 850px;
            }

            @include bp(laptop){
                max-width: 1000px;
            }

            @include bp(laptopBIG){
                transform: translateY(-15%);
            }

            @include bp(escritorio){
                transform: translateY(-15%);
            }

            .title {

                transform: translateY(rem(25px));
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;

                @include bp(mobileMID){
                    width: 70%;
                }

                @include bp(mobileBIG){
                    width: 55%;
                }

                @include bp(tablet){
                    height: auto;
                    transform: translateY(0px);
                    width: 65%;
                }

                @include bp(tabletMD){
                    width: 55%;
                }

                @include bp(laptop){
                    width: 52.5%;
                }

                @include bp(laptopBIG){
                    width: 45%;
                }

                @include bp(escritorio){
                    width: 55%;
                }


                h2.animate{
                    transform: scale(.7);
                    opacity: 0;
                }

                h2 {
                    font-size: rem(20px);
                    text-wrap: balance;
                    line-height: rem(20px);
                    text-align: center;
                    color: $principal_color;
                    font-family: $font_regular;
                    text-transform: uppercase;
                    transition: .3s ease;
                    transform: scale(1);
                    opacity: 1;

                    @include bp(mobileMID){
                        font-size: rem(18px);
                        line-height: rem(18px);
                    }

                    @include bp(tablet){
                        font-size: rem(25px);
                        line-height: rem(25px);
                    }
        
                    @include bp(tabletMD){
                        font-size: rem(28px);
                        line-height: rem(28px);
                    }
        
                    @include bp(laptop){
                        font-size: rem(30px);
                        line-height: rem(30px);
                    }
        
                    @include bp(laptopBIG){
                        font-size: rem(31px);
                        line-height: rem(31px);
                    }

                    @include bp(escritorio){
                        font-size: rem(32px);
                        line-height: rem(32px);
                    }
        
                }        

            }

            .text {


                width: calc(80% - rem(30px));
                height: calc(47.5% - rem(30px));
                transform: translateY(rem(-34px));
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                padding: rem(15px);
                position: relative;

                @include bp(mobileMID){
                    width: calc(60% - rem(30px));
                }

                @include bp(mobileBIG){
                    width: calc(50% - rem(30px));
                }

                @include bp(tablet){
                    height: auto;
                    transform: translateY(0px);
                    width: calc(70% - rem(30px));
                    margin-top: rem(30px);
                }

                @include bp(tabletMD){
                    width: calc(57% - rem(30px));
                }

                @include bp(laptopBIG){
                    width: calc(45% - rem(30px));
                }

                @include bp(escritorio){
                    width: calc(52% - rem(30px));
                }

                .finish_item {
                    
                    padding: rem(5px) rem(4px) rem(7px) rem(4px);
                    position: absolute;
                    bottom: 6%;
                    font-size: rem(15px);

                    &:disabled{
                        opacity: 0.5;
                        pointer-events: none;
                        user-select: none;
                    }

                    @include keyframes(showButton){

                        0%{
                            transform: scale(0.7);
                            opacity: 0;
                        }
                        
                        100%{
                            transform: scale(1);
                            opacity: 1;
                        }
                
                    }
                
                    @include animate(showButton, .3s, ease, 1);

                    &:hover{
                        .top_bottom{

                            &::after{
                                height: 100%;
                            }

                        }
                    }

                    @include bp(mobileMID){
                        max-width: 210px;
                    }

                    @include bp(tablet){
                        max-width: 240px;
                        bottom: -18%;
                    }

                    @include bp(tabletMD){
                        max-width: 270px;
                        bottom: -23%;
                    }

                    @include bp(laptop){
                        padding: rem(0px) rem(4px) rem(2px) rem(4px);
                        bottom: -25%;
                    }

                    @include bp(laptopBIG){
                        padding: rem(0px) rem(4px) rem(2px) rem(4px);
                        bottom: -35%;
                    }

                    @include bp(escritorio){
                        bottom: -40%;
                    }

                    .title {

                        transform: translateY(0px);

                        @include bp(mobileMID){
                            width: 100%;
                        }
                    }

                    .top_bottom{
                        @include bp(laptop){
                            position: initial;
                        }
                    }

                    span {

                        @include bp(tablet){
                            font-size: rem(18px);
                        }
                    
                        @include bp(tabletMD){
                            font-size: rem(19px);
                        }
                    
                        @include bp(laptop){
                            max-width: 300px;
                            padding: rem(10px) 0px rem(13px) 0px;
                        }
                    
                        @include bp(laptopBIG){
                            max-width: 250px;
                        }

                    }

                }

                form.animate{
                    transform: scale(.7);
                    opacity: 0;
                }

                form {

                    transition: .3s ease;
                    transform: scale(1);
                    opacity: 1;

                    .options {

                        display: flex;
                        flex-flow: column;
                        row-gap: rem(10px);
                        text-transform: uppercase;

                        @include bp(tablet){
                            row-gap: rem(20px);
                        }

                        @include bp(tabletMD){
                            row-gap: rem(25px);
                        }

                        label{

                            display: flex;
                            column-gap: rem(15px);
                            align-items: center;
                            cursor: pointer;
                            position: relative;
                            justify-content: center;

                            &::before{
                                content: "";
                                position: absolute;
                                width: 65%;
                                height: 130%;
                                left: -15%;
                                background-color: $principal_color_transparent_two;
                                z-index: -1;
                                mask-image: linear-gradient(to left, black 0%, transparent 100%);
                                opacity: 0;
                                transition: .2s ease;
                            }

                            &::after{
                                content: "";
                                position: absolute;
                                width: 65%;
                                height: 130%;
                                left: 50%;
                                background-color: $principal_color_transparent_two;
                                z-index: -1;
                                mask-image: linear-gradient(to right, black 0%, transparent 100%);
                                opacity: 0;
                                transition: .2s ease;
                            }

                            &:hover{
                                &::before,
                                &::after{
                                    opacity: 1;
                                }
                            }



                            svg {
                                width: rem(15px);
                                height: auto;

                                @include bp(tablet){
                                    width: rem(20px);
                                }

                                @include bp(tabletMD){
                                    width: rem(21px);
                                }

                                @include bp(laptop){
                                    width: rem(22px);
                                }

                                @include bp(laptopBIG){
                                    width: rem(18px);
                                }

                            }

                            input{
                                display: none;
                            }

                            input:checked ~ p{
                                color: $principal_color;
                            }

                            span svg path{
                                transition: .3s ease;
                                fill: $septimo_color;
                            }

                            input:checked ~ span svg path{
                                fill: $principal_color;
                            }
    
                            p{
    
                                font-size: rem(14px);
                                line-height: rem(14px);
                                font-family: $font_regular;
                                text-transform: uppercase;
                                color: $septimo_color;
                                user-select: none;
                                transition: .3s ease;
    
                                @include bp(tablet){
                                    font-size: rem(19px);
                                    line-height: rem(19px);
                                }

                                @include bp(tabletMD){
                                    font-size: rem(20px);
                                    line-height: rem(20px);
                                }
                                
    
                                @include bp(laptop){
                                    font-size: rem(21px);
                                    line-height: rem(21px);
                                }
    
                                @include bp(laptopBIG){
                                    font-size: rem(19px);
                                    line-height: rem(19px);
                                }
    
                            }
                        }

                    }

                }

            }

        }

    }

}