.main_header.remove{
    scale: 1.5;
    opacity: 0;
}

.main_header {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    scale: 1;
    transition: .3s ease;
    width: 100%;
    opacity: 1;
}

header{

    height: 100dvh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between; 
    transition: .5s ease;

    .logo,
    .description{

        min-height: rem(100px);
        display: flex;
        align-items: center;
        justify-content: center;

        @include bp(mobileBIG){
            height: rem(70px);
        }

        @include bp(laptop){
            height: rem(150px);
        }

    }

    .logo {

        min-height: rem(100px);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        z-index: 999;
    
        @include bp(mobileBIG){
            height: rem(70px);
        }
    
        @include bp(laptop){
            height: rem(150px);
        }
    
        img {
    
            width: auto;
            height: rem(25px);
    
            @include bp(mobileBIG){
                height: rem(30px);
            }
    
            @include bp(tablet){
                height: 35px;
            }
    
            @include bp(tabletMD){
                height: 40px;
            }
    
            @include bp(laptop){
                height: 45px;
            }
    
        }
    
    }

    .content {


        @include bp(tablet){
            display: grid;
            grid-template-columns: 50% 50%;
            width: 100%;
        }

        @include bp(tabletMD){
            grid-template-columns: 40% 60%;
        }

        .power {

            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 99;

            h1 {

                display: flex;
                flex-flow: column;
                row-gap: 0px;
                font-family: $font_black;
                text-transform: uppercase;
                font-weight: 900;
                font-style: normal;
    
                span {
    
                    display: inline-block;
                    text-align: center;
                    overflow: hidden;
    
                    &:nth-last-child(2){
                        color: $segundo_color;
                    }
    
                    &:last-child{
                        color: $tercer_color;
                    }
                    
                    strong {
                        display: inline-block;
                    }
    
                }
    
                span.big{
                    font-size: rem(50px);
                    color: $principal_color;
                    line-height: rem(50px);

                    @include bp(tablet){
                        font-size: rem(65px);
                        line-height: rem(65px);
                    }

                    @include bp(tabletMD){
                        font-size: rem(80px);
                        line-height: rem(80px);
                    }

                    @include bp(laptop){
                        font-size: rem(90px);
                        line-height: rem(90px);
                    }

                    @include bp(laptopBIG){
                        font-size: rem(120px);
                        line-height: rem(120px);
                    }

                }
    
                span.small{
                    font-size: rem(30px);
                    line-height: rem(30px);

                    @include bp(tablet){
                        font-size: rem(45px);
                        line-height: rem(45px);
                    }

                    @include bp(tabletMD){
                        font-size: rem(60px);
                        line-height: rem(60px);
                    }

                    @include bp(laptop){
                        font-size: rem(60px);
                        line-height: rem(60px);
                    }

                    @include bp(laptopBIG){
                        font-size: rem(80px);
                        line-height: rem(80px);
                    }

                }
    
            }
    
            button {
    
                margin: rem(15px) auto 0px auto;
    
            }

        }

        .ticket {

            position: relative;
            display: grid;
            place-items: center;

            .remolino {

                width: 130dvw;
                height: 130dvw;
                position: absolute;
                mix-blend-mode: screen;  //color-dodge
                object-fit: contain;
                transition: .3s ease scale;
                pointer-events: none;
                user-select: none;

                @include bp(mobileBIG){
                    width: 85dvw;
                    height: 85dvw;
                }

                @include bp(tablet){
                    width: 70dvw;
                    height: 70dvw;
                    translate: 0px rem(-10px);
                }
                
                @include bp(laptop){
                    translate: 0px rem(-15px);
                }

                @include bp(laptopBIG){
                    width: 60dvw;
                    height: 60dvw;
                    max-width: 1000px;
                    max-height: 1000px;
                    translate: 0px rem(-20px);
                    
                }

                @include bp(escritorio){
                    width: 50dvw;
                    height: 50dvw;
                    translate: 0px rem(-30px);
                }


                @include animate(remolino, 2s, linear, infinite)
            }

            .ticket_img {

                width: 100%;
                height: auto;
                margin-top: rem(40px);
                transform: rotate(-10deg);
                transition: .2s ease;
                max-width: 350px;
                pointer-events: none;
                user-select: none;

                @include bp(mobileBIG){
                    margin-top: rem(30px);
                }

                @include bp(tablet){
                    max-width: 400px;
                }

                @include bp(tabletMD){
                    max-width: 500px;
                }

                @include bp(laptopBIG){
                    max-width: 800px;
                }

            }

        }

    }

    .description {

        display: flex;
        flex-flow: column;
        text-align: center;
        color: $principal_color;
        font-family: $font_regular;
        text-transform: uppercase;

        @include bp(tablet){
            text-align: left;
            align-items: flex-start;
            width: 100%;
        }

        p {
            font-size: rem(15px);
            line-height: rem(15px);

            @include bp(tabletMD){
                font-size: rem(20px);
                line-height: rem(20px);
            }

            @include bp(laptop){
                font-size: rem(22px);
                line-height: rem(22px);
            }

            @include bp(laptopBIG){
                font-size: rem(23px);
                line-height: rem(23px);
            }

        }

        h2 {
            font-size: rem(20px);
            text-wrap: balance;
            margin-top: rem(7px);
            line-height: rem(20px);

            @include bp(tabletMD){
                font-size: rem(25px);
                line-height: rem(25px);
            }

            @include bp(laptop){
                font-size: rem(27px);
                line-height: rem(27px);
            }

            @include bp(laptopBIG){
                font-size: rem(28px);
                line-height: rem(28px);
            }

        }

    }

}